openapi: 3.0.3
info:
  title: CubeOS HAL API
  description: |
    Hardware Abstraction Layer API for CubeOS.
    Provides unified access to Raspberry Pi hardware, peripherals, and exotic communication devices.
  version: 1.1.0
  contact:
    name: CubeOS Team
  license:
    name: Apache 2.0

servers:
  - url: http://cubeos.cube:6005/hal
    description: CubeOS HAL Service

tags:
  - name: System
    description: System information and status
  - name: Power
    description: Battery, UPS, RTC, Watchdog
  - name: Storage
    description: Disks, partitions, USB storage
  - name: Network
    description: Network interfaces and Access Point
  - name: Logs
    description: System logs and debug
  - name: VPN
    description: Tor VPN support
  - name: GPS
    description: GPS/GNSS receivers (NMEA)
  - name: Cellular
    description: Cellular modems and tethering
  - name: Meshtastic
    description: LoRa mesh networking
  - name: Iridium
    description: Satellite communication (SBD)
  - name: Camera
    description: Pi Camera and USB webcams
  - name: Sensors
    description: 1-Wire and environmental sensors
  - name: SDR
    description: Software Defined Radio
  - name: Audio
    description: Audio devices and playback
  - name: GPIO
    description: GPIO pin control
  - name: I2C
    description: I2C bus operations
  - name: USB
    description: USB device management

paths:
  # ==========================================================================
  # System
  # ==========================================================================
  /system/uptime:
    get:
      tags: [System]
      summary: Get system uptime
      responses:
        '200':
          description: Uptime information
          content:
            application/json:
              schema:
                type: object
                properties:
                  seconds:
                    type: number
                  formatted:
                    type: string
                  boot_time:
                    type: string
                    format: date-time
                  load_average:
                    type: array
                    items:
                      type: number

  /system/temperature:
    get:
      tags: [System]
      summary: Get CPU temperature
      responses:
        '200':
          description: Temperature reading
          content:
            application/json:
              schema:
                type: object
                properties:
                  temperature:
                    type: number
                  unit:
                    type: string
                  source:
                    type: string

  /system/throttle:
    get:
      tags: [System]
      summary: Get throttling status
      responses:
        '200':
          description: Throttle flags
          content:
            application/json:
              schema:
                type: object
                properties:
                  under_voltage_occurred:
                    type: boolean
                  arm_frequency_capped_occurred:
                    type: boolean
                  currently_throttled:
                    type: boolean
                  soft_temperature_limit_occurred:
                    type: boolean
                  raw_hex:
                    type: string

  /system/eeprom:
    get:
      tags: [System]
      summary: Get Pi EEPROM/bootloader info
      responses:
        '200':
          description: EEPROM data
          content:
            application/json:
              schema:
                type: object
                properties:
                  version:
                    type: string
                  date:
                    type: string
                  capabilities:
                    type: object
                  timestamp:
                    type: integer
                  timestamp_formatted:
                    type: string

  /system/bootconfig:
    get:
      tags: [System]
      summary: Get boot configuration
      responses:
        '200':
          description: Boot config
          content:
            application/json:
              schema:
                type: object
                properties:
                  config:
                    type: object
                  config_file:
                    type: string
                  hardware:
                    type: object
                  overlays:
                    type: array
                    items:
                      type: string

  # ==========================================================================
  # Power Management
  # ==========================================================================
  /power/battery:
    get:
      tags: [Power]
      summary: Get battery status (X1202 UPS)
      responses:
        '200':
          description: Battery information
          content:
            application/json:
              schema:
                type: object
                properties:
                  available:
                    type: boolean
                  voltage:
                    type: number
                  capacity_percent:
                    type: integer
                  charging:
                    type: boolean

  /power/ups:
    get:
      tags: [Power]
      summary: Get UPS status
      responses:
        '200':
          description: UPS information
          content:
            application/json:
              schema:
                type: object
                properties:
                  detected:
                    type: boolean
                  on_battery:
                    type: boolean
                  voltage:
                    type: number

  /rtc/status:
    get:
      tags: [Power]
      summary: Get RTC status
      responses:
        '200':
          description: RTC status
          content:
            application/json:
              schema:
                type: object
                properties:
                  available:
                    type: boolean
                  time:
                    type: string
                  synchronized:
                    type: boolean

  /rtc/set:
    post:
      tags: [Power]
      summary: Set RTC from system time
      responses:
        '200':
          description: RTC time set

  /rtc/sync:
    post:
      tags: [Power]
      summary: Sync system time from RTC
      responses:
        '200':
          description: System time synced

  /watchdog/status:
    get:
      tags: [Power]
      summary: Get watchdog status
      responses:
        '200':
          description: Watchdog status
          content:
            application/json:
              schema:
                type: object
                properties:
                  device:
                    type: string
                  enabled:
                    type: boolean
                  timeout:
                    type: integer

  /watchdog/pet:
    post:
      tags: [Power]
      summary: Pet the watchdog
      responses:
        '200':
          description: Watchdog petted

  # ==========================================================================
  # Storage
  # ==========================================================================
  /storage/devices:
    get:
      tags: [Storage]
      summary: List block devices
      responses:
        '200':
          description: Block devices
          content:
            application/json:
              schema:
                type: object
                properties:
                  devices:
                    type: array
                    items:
                      type: object
                      properties:
                        name:
                          type: string
                        path:
                          type: string
                        size:
                          type: integer
                        size_human:
                          type: string

  /storage/device/{device}:
    get:
      tags: [Storage]
      summary: Get device details
      parameters:
        - name: device
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Device details

  /storage/smart/{device}:
    get:
      tags: [Storage]
      summary: Get SMART health data
      parameters:
        - name: device
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: SMART data

  /storage/usage:
    get:
      tags: [Storage]
      summary: Get filesystem usage
      responses:
        '200':
          description: Filesystem usage
          content:
            application/json:
              schema:
                type: object
                properties:
                  filesystems:
                    type: array

  /storage/usb:
    get:
      tags: [Storage]
      summary: List USB storage devices
      responses:
        '200':
          description: USB storage
          content:
            application/json:
              schema:
                type: object
                properties:
                  count:
                    type: integer
                  devices:
                    type: array
                    nullable: true

  /storage/usb/mount:
    post:
      tags: [Storage]
      summary: Mount USB storage
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required: [device]
              properties:
                device:
                  type: string
                mountpoint:
                  type: string
      responses:
        '200':
          description: Mounted

  /storage/usb/unmount:
    post:
      tags: [Storage]
      summary: Unmount USB storage
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required: [mountpoint]
              properties:
                mountpoint:
                  type: string
      responses:
        '200':
          description: Unmounted

  /storage/usb/eject:
    post:
      tags: [Storage]
      summary: Safely eject USB device
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required: [device]
              properties:
                device:
                  type: string
      responses:
        '200':
          description: Ejected

  # ==========================================================================
  # Network
  # ==========================================================================
  /network/interfaces:
    get:
      tags: [Network]
      summary: List network interfaces
      responses:
        '200':
          description: Network interfaces
          content:
            application/json:
              schema:
                type: object
                properties:
                  interfaces:
                    type: array

  /network/status:
    get:
      tags: [Network]
      summary: Get network status
      responses:
        '200':
          description: Network status
          content:
            application/json:
              schema:
                type: object
                properties:
                  interfaces:
                    type: array

  /ap/status:
    get:
      tags: [Network]
      summary: Get Access Point status
      responses:
        '200':
          description: AP status
        '404':
          description: hostapd not configured

  /ap/clients:
    get:
      tags: [Network]
      summary: List connected AP clients
      responses:
        '200':
          description: AP clients
          content:
            application/json:
              schema:
                type: object
                properties:
                  clients:
                    type: array
                  count:
                    type: integer
        '404':
          description: hostapd not configured

  /ap/client/{mac}/disconnect:
    post:
      tags: [Network]
      summary: Disconnect AP client
      parameters:
        - name: mac
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Client disconnected

  # ==========================================================================
  # Logs & Debug
  # ==========================================================================
  /logs/kernel:
    get:
      tags: [Logs]
      summary: Get kernel logs (dmesg)
      parameters:
        - name: lines
          in: query
          schema:
            type: integer
            default: 100
      responses:
        '200':
          description: Kernel logs
          content:
            application/json:
              schema:
                type: object
                properties:
                  lines:
                    type: array
                    items:
                      type: string

  /logs/journal:
    get:
      tags: [Logs]
      summary: Get systemd journal
      parameters:
        - name: lines
          in: query
          schema:
            type: integer
        - name: unit
          in: query
          schema:
            type: string
      responses:
        '200':
          description: Journal logs
          content:
            application/json:
              schema:
                type: object
                properties:
                  lines:
                    type: array
                    items:
                      type: string

  /logs/hardware:
    get:
      tags: [Logs]
      summary: Get hardware-specific logs
      parameters:
        - name: category
          in: query
          schema:
            type: string
            enum: [i2c, gpio, usb, pcie, mmc, net, power, all]
      responses:
        '200':
          description: Hardware logs
          content:
            application/json:
              schema:
                type: object
                properties:
                  category:
                    type: string
                  entries:
                    type: array

  /support/bundle.zip:
    get:
      tags: [Logs]
      summary: Download support bundle
      responses:
        '200':
          description: ZIP file
          content:
            application/zip:
              schema:
                type: string
                format: binary

  # ==========================================================================
  # VPN - Tor
  # ==========================================================================
  /vpn/tor/status:
    get:
      tags: [VPN]
      summary: Get Tor status
      responses:
        '200':
          description: Tor status
          content:
            application/json:
              schema:
                type: object
                properties:
                  installed:
                    type: boolean
                  running:
                    type: boolean
                  socks_port:
                    type: integer

  /vpn/tor/start:
    post:
      tags: [VPN]
      summary: Start Tor service
      responses:
        '200':
          description: Tor started

  /vpn/tor/stop:
    post:
      tags: [VPN]
      summary: Stop Tor service
      responses:
        '200':
          description: Tor stopped

  /vpn/tor/newcircuit:
    post:
      tags: [VPN]
      summary: Request new Tor circuit
      responses:
        '200':
          description: New circuit requested

  /vpn/tor/config:
    get:
      tags: [VPN]
      summary: Get Tor configuration
      responses:
        '200':
          description: Tor config
          content:
            application/json:
              schema:
                type: object
                properties:
                  config_file:
                    type: string
                  data_dir:
                    type: string
                  settings:
                    type: object

  # ==========================================================================
  # GPS
  # ==========================================================================
  /gps/devices:
    get:
      tags: [GPS]
      summary: List GPS devices
      responses:
        '200':
          description: GPS devices
          content:
            application/json:
              schema:
                type: object
                properties:
                  count:
                    type: integer
                  devices:
                    type: array
                    nullable: true

  /gps/status:
    get:
      tags: [GPS]
      summary: Get GPS status
      responses:
        '200':
          description: GPS status
          content:
            application/json:
              schema:
                type: object
                properties:
                  available:
                    type: boolean
                  has_fix:
                    type: boolean

  /gps/position:
    get:
      tags: [GPS]
      summary: Get current GPS position
      responses:
        '200':
          description: GPS position
          content:
            application/json:
              schema:
                type: object
                properties:
                  valid:
                    type: boolean
                  latitude:
                    type: number
                  longitude:
                    type: number
                  altitude:
                    type: number
                  speed:
                    type: number
                  satellites:
                    type: integer

  # ==========================================================================
  # Cellular
  # ==========================================================================
  /cellular/status:
    get:
      tags: [Cellular]
      summary: Get cellular status
      responses:
        '200':
          description: Cellular status
          content:
            application/json:
              schema:
                type: object
                properties:
                  available:
                    type: boolean
                  modem_count:
                    type: integer
                  connected:
                    type: boolean

  /cellular/modems:
    get:
      tags: [Cellular]
      summary: List cellular modems
      responses:
        '200':
          description: Modems list
          content:
            application/json:
              schema:
                type: object
                properties:
                  count:
                    type: integer
                  modems:
                    type: array
                    nullable: true

  /cellular/signal:
    get:
      tags: [Cellular]
      summary: Get signal strength
      responses:
        '200':
          description: Signal info

  /cellular/connect:
    post:
      tags: [Cellular]
      summary: Connect cellular modem
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                modem:
                  type: integer
                apn:
                  type: string
      responses:
        '200':
          description: Connected

  /cellular/disconnect:
    post:
      tags: [Cellular]
      summary: Disconnect cellular modem
      responses:
        '200':
          description: Disconnected

  # ==========================================================================
  # Meshtastic
  # ==========================================================================
  /meshtastic/devices:
    get:
      tags: [Meshtastic]
      summary: List Meshtastic devices
      responses:
        '200':
          description: Meshtastic devices
          content:
            application/json:
              schema:
                type: object
                properties:
                  count:
                    type: integer
                  devices:
                    type: array
                    nullable: true

  /meshtastic/status:
    get:
      tags: [Meshtastic]
      summary: Get Meshtastic node status
      responses:
        '200':
          description: Node status
          content:
            application/json:
              schema:
                type: object
                properties:
                  available:
                    type: boolean
                  has_gps:
                    type: boolean

  /meshtastic/nodes:
    get:
      tags: [Meshtastic]
      summary: List mesh nodes
      responses:
        '200':
          description: Mesh nodes

  /meshtastic/position:
    get:
      tags: [Meshtastic]
      summary: Get position from Meshtastic GPS
      responses:
        '200':
          description: Position

  /meshtastic/send:
    post:
      tags: [Meshtastic]
      summary: Send message to mesh
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required: [text]
              properties:
                text:
                  type: string
                destination:
                  type: string
      responses:
        '200':
          description: Message sent

  # ==========================================================================
  # Iridium
  # ==========================================================================
  /iridium/devices:
    get:
      tags: [Iridium]
      summary: List Iridium modems
      responses:
        '200':
          description: Iridium devices
          content:
            application/json:
              schema:
                type: object
                properties:
                  count:
                    type: integer
                  devices:
                    type: array
                    nullable: true

  /iridium/status:
    get:
      tags: [Iridium]
      summary: Get Iridium modem status
      responses:
        '200':
          description: Modem status
          content:
            application/json:
              schema:
                type: object
                properties:
                  available:
                    type: boolean
                  signal_quality:
                    type: integer
                  signal_bars:
                    type: string

  /iridium/signal:
    get:
      tags: [Iridium]
      summary: Get Iridium signal quality
      responses:
        '200':
          description: Signal quality

  /iridium/send:
    post:
      tags: [Iridium]
      summary: Send SBD message
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required: [text]
              properties:
                text:
                  type: string
                  maxLength: 340
      responses:
        '200':
          description: Send result

  /iridium/receive:
    post:
      tags: [Iridium]
      summary: Check and receive SBD message
      responses:
        '200':
          description: Received message

  # ==========================================================================
  # Camera
  # ==========================================================================
  /camera/devices:
    get:
      tags: [Camera]
      summary: List cameras
      responses:
        '200':
          description: Camera devices
          content:
            application/json:
              schema:
                type: object
                properties:
                  count:
                    type: integer
                  cameras:
                    type: array
                    nullable: true

  /camera/capture:
    get:
      tags: [Camera]
      summary: Capture image
      responses:
        '200':
          description: JPEG image
          content:
            image/jpeg:
              schema:
                type: string
                format: binary

  # ==========================================================================
  # Sensors
  # ==========================================================================
  /onewire/devices:
    get:
      tags: [Sensors]
      summary: List 1-Wire devices
      responses:
        '200':
          description: 1-Wire devices
          content:
            application/json:
              schema:
                type: object
                properties:
                  count:
                    type: integer
                  sensors:
                    type: array
                    nullable: true

  /onewire/temperature/{id}:
    get:
      tags: [Sensors]
      summary: Read DS18B20 temperature
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Temperature reading

  /environmental/sensors:
    get:
      tags: [Sensors]
      summary: List environmental sensors
      responses:
        '200':
          description: Sensors list
          content:
            application/json:
              schema:
                type: object
                properties:
                  count:
                    type: integer
                  sensors:
                    type: array

  /environmental/reading:
    get:
      tags: [Sensors]
      summary: Read BME280 data
      responses:
        '200':
          description: Environmental reading

  # ==========================================================================
  # SDR
  # ==========================================================================
  /sdr/devices:
    get:
      tags: [SDR]
      summary: List RTL-SDR devices
      responses:
        '200':
          description: SDR devices
          content:
            application/json:
              schema:
                type: object
                properties:
                  count:
                    type: integer
                  devices:
                    type: array
                    nullable: true

  # ==========================================================================
  # Audio
  # ==========================================================================
  /audio/devices:
    get:
      tags: [Audio]
      summary: List audio devices
      responses:
        '200':
          description: Audio devices
          content:
            application/json:
              schema:
                type: object
                properties:
                  count:
                    type: integer
                  devices:
                    type: array

  /audio/volume:
    get:
      tags: [Audio]
      summary: Get volume level
      responses:
        '200':
          description: Volume info
          content:
            application/json:
              schema:
                type: object
                properties:
                  available:
                    type: boolean
                  volume:
                    type: integer
    post:
      tags: [Audio]
      summary: Set volume level
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                volume:
                  type: integer
                mute:
                  type: boolean
      responses:
        '200':
          description: Volume set

  /audio/alert:
    post:
      tags: [Audio]
      summary: Play audio alert
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                type:
                  type: string
                  enum: [beep, alarm, notification, custom]
                file:
                  type: string
                volume:
                  type: integer
      responses:
        '200':
          description: Alert played

  # ==========================================================================
  # GPIO
  # ==========================================================================
  /gpio/pins:
    get:
      tags: [GPIO]
      summary: List GPIO pin states
      responses:
        '200':
          description: GPIO pins
          content:
            application/json:
              schema:
                type: object
                properties:
                  count:
                    type: integer
                  pins:
                    type: array

  /gpio/pin:
    post:
      tags: [GPIO]
      summary: Set GPIO pin
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required: [pin, value]
              properties:
                pin:
                  type: integer
                value:
                  type: integer
                  enum: [0, 1]
      responses:
        '200':
          description: Pin set

  # ==========================================================================
  # I2C
  # ==========================================================================
  /i2c/scan:
    get:
      tags: [I2C]
      summary: Scan I2C bus
      parameters:
        - name: bus
          in: query
          schema:
            type: integer
            default: 1
      responses:
        '200':
          description: I2C devices found
          content:
            application/json:
              schema:
                type: object
                properties:
                  bus:
                    type: integer
                  devices:
                    type: array

  # ==========================================================================
  # USB
  # ==========================================================================
  /usb/devices:
    get:
      tags: [USB]
      summary: List USB devices
      responses:
        '200':
          description: USB devices
          content:
            application/json:
              schema:
                type: object
                properties:
                  blockdevices:
                    type: array
